@media only screen and (max-width: 1200px) {
	.name{
		width: 100%;
		padding: 0 2%;
	}
	.row {
		padding: 0 2px;
	}
}

@media only screen and (max-width: 1080px){
	 .icon-small {

        margin-right: 1px;
    }
}

@media only screen and (max-width: 1023px) {
body {font-size: 18px;}
section{ padding: 60px 0px; }

.long-copy{
		width: 80%;
		margin-left: 10%;
}

.steps-box { margin-top: 10px; }
    .steps-box:last-child { margin-top: 10px; }
    .works-steps { margin-bottom: 40px; }
    .works-step:last-of-type { margin-bottom: 60px; }

    .app-screen { width: 50%; }

    .icon-small {
        width: 17px;
        margin-right: 5px;
    }

	.section-knowledge { font-size: 90%; }
	.contact-form { width: 80%; }

}

@media only screen and (max-width: 767px) {

    body { font-size: 16px; }
    section { padding: 30px 0; }

    .row,
    .name { padding: 0 4%; }
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }


    .main-nav { display: none; }
    .mobile-nav-icon {display: inline-block;}

    .main-nav {
        float: left;
        margin-top: 30px;
        margin-left: 25px;
    }

    .main-nav li {
        display: block;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
	}
	 .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .mobile-nav-icon i { color: #555; }
}



@media only screen and (max-width: 480px) {}